

.mincontiner{
  display: block;
  justify-content: center;
  align-content: center;
  align-items: center;
}

body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}




*{
    margin: 0;
    box-sizing: border-box;
}

.continer {
   display: flex;
   width: 70%;
   background-color: rgba(0, 255, 255, 0);
   margin: 10px;
   border-radius: 5px;
   height: 400px;
   align-self: center;
   margin: 10px;
   position: relative;
   left: 15%;
   border-radius: 10px 0px 0px 10px;
   margin-top: 10%;
   
   

}

.form{
    background-color:rgb(232, 237, 240);
    width: 60%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;

}

.map{
    background-color: rgb(77, 77, 77);
    width: 40%;
    height: 100%;

}


.txt{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-top: 7px;
}

.inpt1 ,.inpt2{
    margin-left: 5px;
    height: 29px;
    border: solid 0px;
    border-radius: 1px;
    margin-right: 25px;
}

.txtinp{
    display: flex;
    margin-left: 7px;
    gap: 120px;
    margin-bottom: 3px;
}

.topF{
    margin-left: 15px;
    margin-top: 40px;
}

.input-container {
    text-align: start; /* Center-align text and input */
    margin-top: 10px;
    
  }

  label {
    display: block; /* Make the label a block element to position it above the input */
    margin-bottom: 3px;
    margin-left: 7px; /* Add some spacing between the label and input */
    font-size: 13px;
  }

  .inptGT {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 7px;
  }

  .label2{
    display: block; /* Make the label a block element to position it above the input */
    margin-bottom: 3px;
    margin-left: 7px; 
    margin-top: 7px;
  }

  .inptGT2{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 7px;
    height: 70px;
  }
  button{
    display: block;
    margin-top: 10px;
    margin-left: 7px;
    text-align: center;
    width: 20%;
    height: 35px;
    background-color: rgb(40, 171, 237);
    color: #ffffff;
    border: solid 0px ;
    border-radius: 2px;
    transition: 0.5s ease ;
  }

  button:hover{
background-color: rgb(15, 17, 181);
transform: scale(1.1);
  }

.icons{
    display: flex;
    margin-left: 10%;
    margin: 0 auto;
    width: 100vh;
    justify-content: space-around;
    }

.iconI{
    font-size: 40px;
    
    }
    .iconB{
        margin-left: 5px;
        margin-right: 3px;
        width: auto;
        height: 4%;
        background-color: #ffffff;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease ;
        
    }

    .iconB:hover{
         background-color: #00ffff;
         transform: scale(1.1)

    }
    .iconB p{
        color: rgb(0, 0, 0);
        padding: 10px;
    }

    .iconB p:hover{
        color: rgb(0, 77, 243);
        padding: 10px;
        cursor: pointer;
    }








    .navbar {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      position: sticky;
      top: 0;
      height: 80px;
  }
  .liste2 :hover {
      background-color: #98E4FF;
  }
  
   li a img {
  width: 130px;
  display: block;
  margin-left: 20px;
  }
  .liste1 li a{
  margin-top: -10px;
  }
  .liste2 {
      list-style-type: none;
      overflow: hidden;
      padding-top: 15px;
  }
  
  .liste2 li {
      display: inline-block;
  }
  
  .liste2 li a {
      display: block;
      color: black;
      text-align: center;
      padding: 20px 10px;
      text-decoration: none;
      font-family: "Courier New", Courier, monospace;
      font-size: 18px;
  }
  div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:block;
    font-size: 18px;
  }
  .liste2 {
    display: block;

  }
  .liste2 li {display: inline-block;}
  .liste2 li:hover ul {display: block;}
  .liste2 li ul {
    position: absolute;
    right: 0;
    width: 106px;
    display: none;
  }
  .liste2 li ul li { 
    background: #ffffff; 
    display: block; 
  }
  .liste2 li ul li a {display:block ;} 
  .liste2 li ul li:hover {background: #666;}